<!DOCTYPE html>
<html>
<head>
	<title>Testing</title>
</head>
<style type="text/css">
	.warning {
		color: red;
	}
</style>
<body>

	<form action="/" method="POST">
		

		<h3>Name</h3>
		<input type="text" name="name">


		<h3>Order</h3>
		<textarea name="order"></textarea>

		<h3>Time to Pick Up</h3>
		<input type="text" name="time">
		<p class="warning">Place order earlier in day, or else order will not be seen by the workers.</p>

		<input type="submit">

	</form>

</body>
</html>